*{
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}
body{
    background-color: rgba(110, 109, 109, 0.352);
}
.sec{
    /* background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed; */
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    width: auto;
    height: 30vw;
    
}
.sec img{

    border: 1px solid white;
}
.sec img:hover{
    transform: scale(1.007);
    transition-duration: 0.5s;
    cursor: pointer;
}
button{
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(24, 102, 24);
    color: white;
    
}
button:hover{
    background-color: rgb(22, 63, 22);
}
.di{
    cursor: pointer;
    border: 1px solid white;
    width: 30rem;
    height: 100%;
    object-fit:cover;
    
    /* padding: 5px; */
    background-color: antiquewhite;
 
}
.di:hover{
    
    transform: scale(1.04);
    transition-duration: 0.6s;
    transition-timing-function:ease;
    transition-delay: 0s;
    cursor: pointer;
}
.di image{
    object-fit: cover;
}

.div1{
    
    height: 270px;
   
    padding: 8px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.div2{
    gap: 10px;
   
    height: 270px;
    
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section{
    width: 100%;
    height: 50vw;
    
}


.nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.573);
    color: white;
    height: 50px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 1px;
}
.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.472);
    color: white;
    width: 100%;
    height: 40px;
}

.logo{
    width: 6rem;
    height: 100%;
    cursor: pointer;
    
    
}
.chat{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* .chatbot{
    position: absolute;
    width: 300px;
    right: 0;
    height: 100vh;
    background-color: red;
} */
#ul1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.items{
    display: flex;
    justify-content:left ;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 100%;
   

    
}
.items li:hover{
    background-color: rgb(28, 26, 26);
    cursor: pointer;
}

.signin{
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 10%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
}
.signin:hover{
    background-color: red;
}
li{
    padding-right: 20px;
}
.search{
    gap: 10px;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
    background-color: rgb(31, 26, 26);
    left: 0;
    /* padding: 10px; */
    width: 300px;
    height: 100vh;
    position: absolute;
    overflow-y: auto;
    white-space: none;
    text-align: center;
   
}
#i1:hover aside{
    display: block;

}
#products{
    color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    height: auto;
    padding: 0px;
    /* background-color: blue; */
  
}
#products a{
    color: rgb(255, 255, 255);
    
}
#pop{
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: auto;
    background-color: rgb(12, 51, 12);
}


footer{
    width: 100%;
    height: 50px;
    background-color: black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
}
a{
    color: white;
    
}
#ul2 li{
    font-size: 20px;
     text-align: left;
    padding:6px ;
    margin: 0;
}
#ul2 li:hover{
    background-color: rgb(90, 58, 58);
}
#ul2{
    
    padding-left: 0px;
}
#spa{
    padding-left: 5px;
    font-size: 25px;   
}
#products2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    height: 100vh;
   
   
  
}
#products2 a{
  color: rgb(255, 255, 255);
} 
 
